@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.kaisei-opti-regular {
  font-family: "Kaisei Opti", serif;
  font-weight: 400;
  font-style: normal;
}

.kaisei-opti-medium {
  font-family: "Kaisei Opti", serif;
  font-weight: 500;
  font-style: normal;
}

.kaisei-opti-bold {
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-synthesis: none;
  font-family: "BIZ UDGothic","Noto Serif JP","A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho" ,serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


table, th, td {
  border-collapse: collapse;
  border: 1px solid;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

th {
  background-color: #CCFFCC;
  font-weight: bold;
}
.td-buttom {
  /* background-color: #FFCC99; */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EEEBDE));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeebde 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: -ms-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: linear-gradient(to bottom, #ffffff, #EEEBDE);
  cursor: pointer;
  
}
.td-buttom:hover {
  border: 1px solid #000;
  background-image: linear-gradient(to bottom, #ffffff 0%, #dfd9c1 100%);
  color: 1px solid #595233;
}

.table-input {
  font-family: "BIZ UDGothic","Noto Serif JP","A1 Mincho", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho" ,serif;
  width: 90%;
  border:0;outline:0;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
 
}
.require {
  background-color: #FFFF99;
  border: 1.5px solid #E64841;
  border-radius: 1px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 120px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.display-linebreak {
  white-space: pre-line;
}
summary::-webkit-details-marker {
  color: blue;
}
summary:focus {
  outline-style: none;
}



ruby {
  display: inline-flex;
  writing-mode: vertical-rl;
  flex-direction: column-reverse;
  align-items: flex-end;
}

rb, rt {
  padding: 0px;
  margin: 0px;
  margin-left: -5px;
}
.text-five-status {
  padding: 5px;
  font-size: 20px;
}

.text-required {
  color: #E64841;
}

.vt {
  writing-mode: vertical-rl;
}
.daiun-col {
  padding: 5px;

}
.daiun-col:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EEEBDE));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeebde 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: -ms-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: -o-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: linear-gradient(to bottom, #ffffff 0%, #EEEBDE 100%);
  cursor: pointer;
}

.text-element {
  padding: 5px;
  font-size: 25px;
  font-family: "Kaisei Opti";
}

.daiun-col li {
  list-style-type: none;
  /* text-align: left; */
}


.debug-container {
  padding: 15px;
}

.bar-input {
  border-radius: 0px; /* Rounded corners */
  border: 1px solid black; /* Optional border */
  margin: 5px;
  color: rgb(204, 255, 204);
}

.header-debug {
  background-color: #000;
  color: white;
  display: flex;
  padding-left: 10px;
}
.header-debug li{
  list-style-type: none;
  padding: 2px;
}

@media (max-width: 960px) {
  .header-debug {
    display: none;
  }
}
.meishiki-tab {
  border-bottom: none;
}
.meishiki-tab .nav-link {
  border-radius: 0px;  /* Removes the border radius */
  padding: 2px;
  color: black;
}
.meishiki-tab .nav-link.active{
  border-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #EEEBDE));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeebde 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: -ms-linear-gradient(top, #ffffff, #EEEBDE);
  background-image: linear-gradient(to bottom, #ffffff, #EEEBDE);
  font-weight: bold;
}
.meishiki-tab .nav-link:hover {
  background-color: #CCFFCC; /* Sets the background color on hover */
  border-color: #000;
}

.table-gouka td{
  border: 0px solid;
}

.gouka-element {
  font-size: 12px;
  font-weight: bold;
  border-width: 1.2px;
  line-height: 20px;
  width: 20px;  
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 100%;
  background-color: white;
  border-color: #000;
}

